.categoryCard{
    width: 222px;
    height: 314px;
    color: white;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    // font-family: "Montserrat", sans-serif;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .desc{
        font-weight: 300;
        position: absolute;
        top: 15px;
        left: 15px;
    }

    .title{
        font-weight: 500;
        font-size: 24px;
        position: absolute;
        left: 15px;
        top: 40px;
    }
}